.adminAchievements {
  min-height: 100vh;
  background: #111;
  display: flex;
  flex-direction: column;
  padding-top: 51px;
  padding-left: 11px;
  padding-right: 11px;
}

.form {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  padding-left: 21px;
  padding-right: 21px;
  background: #222;
  border: 1px solid #333;
  border-radius: 11px;
  margin-left: auto;
  margin-right: auto;
}

.imageInput {
  background: #333;
  width: 100%;
  font-size: 15px;
  padding: 11px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 7px;
  border: 1px solid #444;
  color: white;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.titleInput {
  margin-top: 11px;
  background: #333;
  font-size: 15px;
  padding: 11px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 7px;
  border: 1px solid #444;
  color: white;
  letter-spacing: 1px;
}

.submitButton {
  margin-top: 11px;
  background: #333;
  font-size: 15px;
  padding: 11px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 7px;
  border: 1px solid #444;
  color: white;
  letter-spacing: 1px;
}

.progress {
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 11px;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
}
