.navbar {
  background: rgba(0, 0, 0, 0.7);
  transition: all 271ms ease-in-out !important;
  top: 0px;
  z-index: 9;
  width: 100%;
  display: flex;
  height: 100vh;
  padding-bottom: 200px;
  background: black;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 721ms ease-in-out;
}
.navbar::-webkit-scrollbar {
  display: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.links,
.drawerToggleButton {
  display: flex;
  align-items: center;
  color: white;
}

.links {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 751ms !important;
}

@media only screen and (max-width: 550px) {
  .navbar {
    height: calc(100vh - 71px);
    position: absolute;
  }
  .navbar li {
    margin-right: 7px;
    width: fit-content;
  }
  .links {
    padding-right: 21px;
    font-size: larger;
    font-weight: 600;
  }
  .icon {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 750px) {
  .links:hover {
    background: whitesmoke !important;
    color: black !important;
    border-top-left-radius: 51px !important;
    border-bottom-left-radius: 51px !important;
  }
  .links:hover .linkIcons {
    color: black !important;
    transition: all 444ms, transform 771ms;
    transform: scale(0.9);
  }
}

.icon {
  width: 44px;
}

.drawerToggleButton {
  cursor: pointer;
  flex-direction: row !important;
  flex-wrap: nowrap;
  padding-left: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 0px;
  margin-left: 0 !important;
  margin-right: 21px !important;
  transition: all 1024ms;
}

.navbar li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  /* background: white; */
  transition: all 751ms;
}

.navbar li b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 15px;
  background: black;
  transition: border-radius 1221ms ease-in-out;
}
.navbar li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  /* background: white; */
  transition: all 751ms;
}

.navbar li b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  background: black;
  transition: border-radius 1221ms ease-in-out;
}
